html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #323232;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u595
{
	z-index: 2;
	width: 962px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -1px;
}

#u595_clip
{
	overflow: hidden;
	width: 962px;
	height: 687px;
}

#u595_img
{
	margin-left: -69px;
	margin-right: -69px;
}

#u203-4
{
	z-index: 4;
	width: 379px;
	min-height: 42px;
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 290px;
}

#u204-3
{
	z-index: 8;
	width: 5px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 767px;
}

#u260-8
{
	z-index: 13;
	width: 844px;
	min-height: 258px;
	color: #FFFFFF;
	text-indent: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 53px;
}

#u260,#u260-4
{
	color: #FFFFFF;
}

#pu205
{
	z-index: 11;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: -3px;
}

#pu205_position_content
{
	position: relative;
}

#u205
{
	z-index: 11;
	width: 967px;
	opacity: 0.08;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=8)";
	filter: alpha(opacity=8);
}

._u205.f3s_top
{
	height: 50px;
	background-image: url("../images/u205-full.png");
	background-position: left top;
	width: 967px;
}

#pu205_position_inner_content
{
	pointer-events: none;
	padding-bottom: 8px;
}

#pmenuu711
{
	width: 0.01px;
	position: relative;
	left: -942px;
	top: 6px;
	pointer-events: auto;
}

#menuu711
{
	z-index: 21;
	width: 914px;
	position: relative;
	margin-right: -10000px;
}

._menuu711.f3s_top
{
	width: 914px;
	background-image: url("../images/menuu765-sprite.png");
	overflow: hidden;
	height: 10px;
	background-position: left top;
}

._menuu711.f3s_mid
{
	background-image: url("../images/menuu765-sprite.png");
	overflow: visible;
	background-position: -914px top;
	width: 914px;
	min-height: 17px;
}

._menuu711.f3s_bot
{
	width: 914px;
	background-image: url("../images/menuu765-sprite.png");
	overflow: visible;
	height: 9px;
	background-position: -1828px top;
}

#u719
{
	width: 165px;
	min-height: 32px;
	position: relative;
	margin-bottom: -15px;
	margin-right: -10000px;
	top: -8px;
	left: 2px;
}

#u722
{
	width: 161px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding-bottom: 11px;
	position: relative;
}

#u722:hover
{
	background-color: #999999;
	background-color: rgba(153, 153, 153, 0.2);
	-pie-background: rgba(153, 153, 153, 0.2);
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u722:active
{
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 0.2);
	-pie-background: rgba(107, 107, 107, 0.2);
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u723-4
{
	width: 41px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #1111A4;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 60px;
}

#u722:hover #u723-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u722:active #u723-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u722.MuseMenuActive #u723-4 p
{
	color: #0000FF;
	visibility: inherit;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u726
{
	width: 187px;
	min-height: 32px;
	position: relative;
	margin-bottom: -15px;
	margin-right: -10000px;
	top: -8px;
	left: 169px;
}

#u729
{
	width: 183px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding-bottom: 11px;
	position: relative;
}

#u729:hover
{
	background-color: #999999;
	background-color: rgba(153, 153, 153, 0.2);
	-pie-background: rgba(153, 153, 153, 0.2);
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u729:active
{
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 0.2);
	-pie-background: rgba(107, 107, 107, 0.2);
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u732-4
{
	width: 63px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #1111A4;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 60px;
}

#u729:hover #u732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u729:active #u732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u758
{
	width: 203px;
	min-height: 32px;
	position: relative;
	margin-bottom: -15px;
	margin-right: -10000px;
	top: -8px;
	left: 358px;
}

#u761
{
	width: 199px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding-bottom: 11px;
	position: relative;
}

#u761:hover
{
	background-color: #999999;
	background-color: rgba(153, 153, 153, 0.2);
	-pie-background: rgba(153, 153, 153, 0.2);
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u761:active
{
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 0.2);
	-pie-background: rgba(107, 107, 107, 0.2);
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u762-4
{
	width: 80px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #1111A4;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 59px;
}

#u761:hover #u762-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u761:active #u762-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u733
{
	width: 167px;
	min-height: 32px;
	position: relative;
	margin-bottom: -15px;
	margin-right: -10000px;
	top: -8px;
	left: 563px;
}

#u736
{
	width: 163px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding-bottom: 11px;
	position: relative;
}

#u736.MuseMenuActive
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u739-4
{
	width: 44px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #1111A4;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 59px;
}

#u736:hover #u739-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u736:active #u739-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u712
{
	width: 180px;
	min-height: 32px;
	position: relative;
	margin-bottom: -15px;
	margin-right: -10000px;
	top: -8px;
	left: 732px;
}

#u713
{
	width: 176px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding-bottom: 11px;
	position: relative;
}

#u713:hover
{
	background-color: #999999;
	background-color: rgba(153, 153, 153, 0.2);
	-pie-background: rgba(153, 153, 153, 0.2);
	width: 176px;
	min-height: 0px;
	margin: 0px;
}

#u713:active
{
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 0.2);
	-pie-background: rgba(107, 107, 107, 0.2);
	width: 176px;
	min-height: 0px;
	margin: 0px;
}

#u714-4
{
	width: 57px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #1111A4;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 59px;
}

#u713:hover #u714-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u713:active #u714-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u722.MuseMenuActive #u723-4,#u729.MuseMenuActive #u732-4,#u761.MuseMenuActive #u762-4,#u736.MuseMenuActive #u739-4,#u713.MuseMenuActive #u714-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u729.MuseMenuActive #u732-4 p,#u761.MuseMenuActive #u762-4 p,#u736.MuseMenuActive #u739-4 p,#u713.MuseMenuActive #u714-4 p
{
	color: #0000FF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u206
{
	z-index: 12;
	width: 4px;
	height: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 918px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

