html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #323232;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u531
{
	z-index: 2;
	width: 962px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -1px;
}

#u531_clip
{
	overflow: hidden;
	width: 962px;
	height: 687px;
}

#u531_img
{
	margin-left: -69px;
	margin-right: -69px;
}

#u511-4
{
	z-index: 4;
	width: 158px;
	min-height: 47px;
	color: #FFFFFF;
	font-size: 40px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 401px;
}

#u511
{
	text-decoration: underline;
}

#u512-4
{
	z-index: 8;
	width: 706px;
	min-height: 76px;
	color: #FFFFFF;
	text-indent: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 122px;
}

#u512
{
	color: #FFFFFF;
}

#menuu603
{
	z-index: 12;
	width: 914px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 23px;
}

._menuu603.f3s_top
{
	width: 914px;
	background-image: url("../images/menuu765-sprite.png");
	overflow: hidden;
	height: 10px;
	background-position: left top;
}

._menuu603.f3s_mid
{
	background-image: url("../images/menuu765-sprite.png");
	overflow: visible;
	background-position: -914px top;
	width: 914px;
	min-height: 17px;
}

._menuu603.f3s_bot
{
	width: 914px;
	background-image: url("../images/menuu765-sprite.png");
	overflow: visible;
	height: 9px;
	background-position: -1828px top;
}

#u611
{
	width: 165px;
	min-height: 32px;
	position: relative;
	margin-bottom: -15px;
	margin-right: -10000px;
	top: -8px;
	left: 2px;
}

#u614
{
	width: 161px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding-bottom: 11px;
	position: relative;
}

#u614:hover
{
	background-color: #999999;
	background-color: rgba(153, 153, 153, 0.2);
	-pie-background: rgba(153, 153, 153, 0.2);
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u614:active
{
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 0.2);
	-pie-background: rgba(107, 107, 107, 0.2);
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u615-4
{
	width: 41px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #1111A4;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 60px;
}

#u614:hover #u615-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u614:active #u615-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u614.MuseMenuActive #u615-4 p
{
	color: #0000FF;
	visibility: inherit;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u618
{
	width: 187px;
	min-height: 32px;
	position: relative;
	margin-bottom: -15px;
	margin-right: -10000px;
	top: -8px;
	left: 169px;
}

#u621
{
	width: 183px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding-bottom: 11px;
	position: relative;
}

#u621:hover
{
	background-color: #999999;
	background-color: rgba(153, 153, 153, 0.2);
	-pie-background: rgba(153, 153, 153, 0.2);
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u621:active
{
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 0.2);
	-pie-background: rgba(107, 107, 107, 0.2);
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u624-4
{
	width: 63px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #1111A4;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 60px;
}

#u621:hover #u624-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u621:active #u624-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u650
{
	width: 203px;
	min-height: 32px;
	position: relative;
	margin-bottom: -15px;
	margin-right: -10000px;
	top: -8px;
	left: 358px;
}

#u653
{
	width: 199px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding-bottom: 11px;
	position: relative;
}

#u653:hover
{
	background-color: #999999;
	background-color: rgba(153, 153, 153, 0.2);
	-pie-background: rgba(153, 153, 153, 0.2);
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u653:active
{
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 0.2);
	-pie-background: rgba(107, 107, 107, 0.2);
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u654-4
{
	width: 80px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #1111A4;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 59px;
}

#u653:hover #u654-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u653:active #u654-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u625
{
	width: 167px;
	min-height: 32px;
	position: relative;
	margin-bottom: -15px;
	margin-right: -10000px;
	top: -8px;
	left: 563px;
}

#u628
{
	width: 163px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding-bottom: 11px;
	position: relative;
}

#u628:hover
{
	background-color: #999999;
	background-color: rgba(153, 153, 153, 0.2);
	-pie-background: rgba(153, 153, 153, 0.2);
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u628:active
{
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 0.2);
	-pie-background: rgba(107, 107, 107, 0.2);
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u631-4
{
	width: 44px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #1111A4;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 59px;
}

#u628:hover #u631-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u628:active #u631-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u604
{
	width: 180px;
	min-height: 32px;
	position: relative;
	margin-bottom: -15px;
	margin-right: -10000px;
	top: -8px;
	left: 732px;
}

#u605
{
	width: 176px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding-bottom: 11px;
	position: relative;
}

#u605.MuseMenuActive
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
	width: 176px;
	min-height: 0px;
	margin: 0px;
}

#u606-4
{
	width: 57px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #1111A4;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 59px;
}

#u605:hover #u606-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u605:active #u606-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u614.MuseMenuActive #u615-4,#u621.MuseMenuActive #u624-4,#u653.MuseMenuActive #u654-4,#u628.MuseMenuActive #u631-4,#u605.MuseMenuActive #u606-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u621.MuseMenuActive #u624-4 p,#u653.MuseMenuActive #u654-4 p,#u628.MuseMenuActive #u631-4 p,#u605.MuseMenuActive #u606-4 p
{
	color: #0000FF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

