html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #303030;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u598
{
	z-index: 2;
	width: 965px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -2px;
}

#u598_clip
{
	overflow: hidden;
	width: 965px;
	height: 689px;
}

#u598_img
{
	margin-left: -69px;
	margin-right: -69px;
}

#u261-4
{
	z-index: 4;
	width: 600px;
	min-height: 47px;
	color: #FFFFFF;
	font-size: 40px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 180px;
}

#u261
{
	text-decoration: underline;
}

#menuu765
{
	z-index: 8;
	width: 914px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 24px;
}

._menuu765.f3s_top
{
	width: 914px;
	background-image: url("../images/menuu765-sprite.png");
	overflow: hidden;
	height: 10px;
	background-position: left top;
}

._menuu765.f3s_mid
{
	background-image: url("../images/menuu765-sprite.png");
	overflow: visible;
	background-position: -914px top;
	width: 914px;
	min-height: 17px;
}

._menuu765.f3s_bot
{
	width: 914px;
	background-image: url("../images/menuu765-sprite.png");
	overflow: visible;
	height: 9px;
	background-position: -1828px top;
}

#u773
{
	width: 165px;
	min-height: 32px;
	position: relative;
	margin-bottom: -15px;
	margin-right: -10000px;
	top: -8px;
	left: 2px;
}

#u776
{
	width: 161px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding-bottom: 11px;
	position: relative;
}

#u776.MuseMenuActive
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u777-4
{
	width: 41px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #1111A4;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 60px;
}

#u776:hover #u777-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u776:active #u777-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u776.MuseMenuActive #u777-4 p
{
	color: #0000FF;
	visibility: inherit;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u780
{
	width: 187px;
	min-height: 32px;
	position: relative;
	margin-bottom: -15px;
	margin-right: -10000px;
	top: -8px;
	left: 169px;
}

#u783
{
	width: 183px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding-bottom: 11px;
	position: relative;
}

#u783:hover
{
	background-color: #999999;
	background-color: rgba(153, 153, 153, 0.2);
	-pie-background: rgba(153, 153, 153, 0.2);
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u783:active
{
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 0.2);
	-pie-background: rgba(107, 107, 107, 0.2);
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u786-4
{
	width: 63px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #1111A4;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 60px;
}

#u783:hover #u786-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u783:active #u786-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u812
{
	width: 203px;
	min-height: 32px;
	position: relative;
	margin-bottom: -15px;
	margin-right: -10000px;
	top: -8px;
	left: 358px;
}

#u815
{
	width: 199px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding-bottom: 11px;
	position: relative;
}

#u815:hover
{
	background-color: #999999;
	background-color: rgba(153, 153, 153, 0.2);
	-pie-background: rgba(153, 153, 153, 0.2);
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u815:active
{
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 0.2);
	-pie-background: rgba(107, 107, 107, 0.2);
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u816-4
{
	width: 80px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #1111A4;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 59px;
}

#u815:hover #u816-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u815:active #u816-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u787
{
	width: 167px;
	min-height: 32px;
	position: relative;
	margin-bottom: -15px;
	margin-right: -10000px;
	top: -8px;
	left: 563px;
}

#u790
{
	width: 163px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding-bottom: 11px;
	position: relative;
}

#u790:hover
{
	background-color: #999999;
	background-color: rgba(153, 153, 153, 0.2);
	-pie-background: rgba(153, 153, 153, 0.2);
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u790:active
{
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 0.2);
	-pie-background: rgba(107, 107, 107, 0.2);
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u793-4
{
	width: 44px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #1111A4;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 59px;
}

#u790:hover #u793-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u790:active #u793-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u766
{
	width: 180px;
	min-height: 32px;
	position: relative;
	margin-bottom: -15px;
	margin-right: -10000px;
	top: -8px;
	left: 732px;
}

#u767
{
	width: 176px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding-bottom: 11px;
	position: relative;
}

#u767:hover
{
	background-color: #999999;
	background-color: rgba(153, 153, 153, 0.2);
	-pie-background: rgba(153, 153, 153, 0.2);
	width: 176px;
	min-height: 0px;
	margin: 0px;
}

#u767:active
{
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 0.2);
	-pie-background: rgba(107, 107, 107, 0.2);
	width: 176px;
	min-height: 0px;
	margin: 0px;
}

#u768-4
{
	width: 57px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #1111A4;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 59px;
}

#u767:hover #u768-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u767:active #u768-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u776.MuseMenuActive #u777-4,#u783.MuseMenuActive #u786-4,#u815.MuseMenuActive #u816-4,#u790.MuseMenuActive #u793-4,#u767.MuseMenuActive #u768-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u783.MuseMenuActive #u786-4 p,#u815.MuseMenuActive #u816-4 p,#u790.MuseMenuActive #u793-4 p,#u767.MuseMenuActive #u768-4 p
{
	color: #0000FF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	padding-top: 34px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

