body
{
   background-color: #FFFFFF;
   background-image: url(images/index_bkgrnd.png);
   background-repeat: repeat-x;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   margin: 0;
   padding: 0;
}
#Image1
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_PanelMenu1 a, #PanelMenu1_markup li a
{
   display: block;
   color: #FFFFFF;
   border: 1px #000000 solid;
   background-color: #8B0000;
   font-family: Verdana;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
}
#wb_PanelMenu1 a:hover, #PanelMenu1_markup li a:hover
{
   color: #DCDCDC;
   background-color: #FF0000;
   border: 1px #2E2E2E solid;
}
#PanelMenu1_markup
{
   display: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup li
{
}
#PanelMenu1_markup li a, #PanelMenu1_markup li a:hover
{
   padding: 15px 10px 15px 10px;
   border-width: 0;
   border-bottom-width: 1px;
   border-radius: 0;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   -ms-box-shadow: none;
   box-shadow: none;
}
#PanelMenu1_panel
{
   background-color: #8B0000;
   display: none;
   position: absolute;
   position: fixed;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#Line1
{
   color: #8B0000;
   background-color: #8B0000;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Shape1
{
   border-width: 0;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#Line2
{
   border-width: 0;
   height: 8px;
   width: 290px;
}
